.btn-icon {
  transition: all 0.2s;

  &:not(:last-child) {
    margin-right: 5rem;

    @include respond(phone) {
      margin-right: 3rem;
    }
  }

  &:link,
  &:visited {
    padding: 0.5rem 1.8rem;
    color: $color-accent-light;
    border: 0.3rem solid $color-accent-light;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
  }

  &:hover,
  &:active {
    color: $color-accent-light;
    background-color: $color-accent-blue;
    border: 0.3rem solid $color-accent-blue;

    .icon {
      animation: moveIcon 0.3s ease-out;
    }
  }
}