// COLORS
$color-primary: #284b63;
$color-primary-dark: #153243;

$color-accent: #eef0eb;
$color-accent-light: #f4f9e9;
$color-accent-dark: #b4b8ab;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;