// COLORS
$color-primary: #a9bcd0;
$color-primary-dark: #373f51;

$color-accent-peach: #daa49a;
$color-accent-blue: #58a4b0;
$color-accent-light: #d8dbe2;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-warning: #ff2c2c;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;